@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#app{
    margin-top: 8vh;
}

#heading-blog{
    background-image:linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url('../images/bg-blog.svg');
    background-size: cover;
    padding: 5rem 0;

}

img{
    width: 100%;
}

h1,h2,.heading-number,h4,h5{
    color: #121212;
}


#heading-blog h1{
    color: #3c64b1;
    font-weight: 600;
}

#heading-blog p{
    color: #fff;
}

p{
    color: #5a5a5a;
}

#heading{
    padding: 5rem 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.author{
    color: #000;
    font-size: 14px;
}

.topic,.date{
    text-transform: uppercase;
    font-size: 12px;
    color:#616161;
}

.topic{
    margin-bottom: 1rem;
}





.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featured{
    padding: 4rem 0;
    background-color: #f3f6fa;
}

#featured .col-md-12{
    margin-bottom: 2rem;
}

.width-45{
    width: 48%;
}

.card-title{
    font-size: 20px;
    font-weight: 600;
}

.col-md-12{
    padding: 0;
}

.mt-card{
    margin-top: 5rem !important;
}

.card.flex{
    flex-direction: row;
    margin: 0 15px ;
}

.card{
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transition: all .5s ease;
    transform: scale(1.02);
}

.author{
    margin-bottom: 0;
}

.cover{
    object-fit: cover;
    height: 100%;
}
 
.card-text{
    font-size: 16px;
}

.card-body{
    padding: 1.25rem 2.5rem;
}

#latest .card-body{
    padding: 1.25rem 1.75rem;
}

#latest .col-md-4{
    margin: 2rem 0;
}

.uppercase{
    text-transform: uppercase;
}

.card-text > .far{
    margin-right: .5rem;
}

.btn.nav-link{
    padding: .5rem 1.1rem;
    background-color: #3c64b1;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.page-item{
    margin: 0 .5rem ;
}

.page-link{
    background: #f3f6fa;
    padding: .5rem 1.2rem;
    border-radius: 8px;
    border: 0;
}

.prev, .next{
    border: 1px solid #3c64b1 ;
}



/* Single Blog Page*/

#title{
    padding: 4rem 0;
    background-color: #f3f6fa;
}

.small-image{
    width: 100px;
}

.profile{
    align-items: center;
    justify-content: flex-start;
}

.smaller-image{
    width: 55px;
    height: 55px;
}

.black{
    color: #000;
}

.blog-content{
    margin:3rem 0 ;
    padding: 0 1rem;
    line-height: 2.5;
}

.filter{
    object-fit: cover;
    filter: brightness(0.7);
    filter: blur(.1);
}

.space-evenly{
    display: grid;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.heading-number {
    position:relative;
    display:inline-block;
    margin: 2rem 0;
    width: 100%;
    padding:0 10px;
}
.heading-number span{

    padding: .5rem 1rem;
    border-radius: 50%;
    color:#3c64b1;
    background-color:  rgba(60, 100, 177, 0.2);;
}

#content{
    padding: 3rem 0;
}

.heading-number:before,.heading-number:after {
    position:absolute;
    content:"";
    width: 35%;
    border-bottom:1px solid #000;
    bottom:11px;
}
.heading-number:before {
    left:-30px;
    margin-left: 150px;
}
.heading-number:after {
    right:-30px;
    margin-right: 150px;
}

.relative{
    position: relative;
}

/* Single BLog Page Icons */
#icons{
    position: relative;

}
#icons i{
    font-size:1.2em;
    padding: .8rem;
    color: #3c64b1;
    width: auto;
    
}

#icons div{
    transform: translateX(50%);
    bottom: 50% ;
    top: 300px;
    left: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
}

@media (min-width:1500px){
    #icons div{
        left: 200px;
    }
}

@media (max-width:768px){
    #title{
        padding: 4rem 1rem;
    }
    #icons{
        position: absolute;
        left: 0px;
    }
    #icons i{
        padding: 1rem 0;
    }
    #icons div{
        position: fixed;
        left: 0;
        top: 50rem;
        z-index: 2;
    }
    #content img{
        width: 80%;
        align-self: center;
    }
    .blog-content{
        padding: 0 2rem;
    }
    #heading{
        padding: 0 1rem;
    }
    .heading-number:before{
        margin-left: 75px;
        width: 120px;
    }
    .heading-number:after{
        width: 120px;
        margin-right: 65px;
    }
    .page-item{
        margin: 0 .25rem;
    }
    .page-link{
        padding:.3rem .6rem;
    }
    #title h1{
        font-size: 24px;
    }
    .card.flex{
        flex-direction: column;
    }
    .width-45{
        width: 100%;
    }
    .width-45 h2{
        font-size: 22px;
        margin: 2rem 0;
    }
    .profile{
        align-items: flex-start;
    }
    .profile h3{
        font-size: 16px;
    }
    a > .linkedin{
        width: 90px;
    }
    .profile p{
        font-size: 14px;
    }
    .small-image{
        width: 48px;
        height: 48px;
    }
    .space-evenly{
        padding: 1rem;
    }
}