footer{
    background-color: #151b25;
    flex-shrink: 0;
}

/* .gridd{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
} */

#footer > .container{
    padding-top: 3rem;
}

.footer-sect{
    align-items: flex-start;
    justify-content: space-between;
}

.footer-sect li{
    padding: .5rem 0;
}
li>strong{
    font-size: 17px;
}

/* Login Section */
.login{
    margin: 5rem 0;
}