footer{
    background-color: #f2f6fa;
    flex-shrink: 0;
}


#footer > .container{
    padding-top: 3rem;
}

#footer{
    color: #3c64b1;
}

.blue-text{
    color: #3c64b1;
}
.footer-sect{
    align-items: flex-start;
    justify-content: space-between;
}
#footer ul > li > i{
    color: #b0b8bc;
    font-size: 1rem;
    padding: 1rem;
}
.end{
    justify-content: flex-end;
}

#footer ul{
    padding-left: 0;
}

.row{
    align-items: center;
}

.footer-sect li{
    padding: .5rem 0;
    margin: 0 .5rem;
}
li>strong{
    font-size: 17px;
}

/* Login Section */
.login{
    margin: 5rem 0;
}

@media only screen and (max-width:768px){
    .copyright{
        order: 2;
    }
    #footer ul{
        justify-content: center;
    }
    .links ul{
        justify-content: center;
    }
}