/* @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&display=swap');

footer{
    font-family: 'Cabin', sans-serif;
    font-size: 12.5px;
    background-color: #d8dfe6;
    flex-shrink: 0;
}
#footer > .container{
    padding: 2rem 0;
}
.blue-text{
    color: #3c64b1;
}
.footer-sect{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer ul > li > i{
    color: #b0b8bc;
    font-size: 1rem;
    padding: 0 0.25rem;
}
#footer ul > li > i:hover{
    color: #fff;
}
#footer ul{
    padding-left: 0;
}
li{
    cursor: pointer;
}

#footer ul > li > a{
    color: #3c64b1;
}
.footer-sect li{
    /* padding: .25rem 0; */
    margin: 0 .5rem;
}
li>strong{
    font-size: 12.5px;
}

/* Login Section */
.login{
    margin: 5rem 0;
}

.copyright p{
    font-size: 12.5px;
    color: #5a5a5a;
}

.copyright{
    width: 45%;
}

.footer-flex{
    display: flex;
    align-items: center;
    color: #929ECC;
    width: 45%;
}

.links{
    border-left: 1px solid #3c64b1;
    align-items: center;
}

.vertical_line{
    width: 2px;
    height: 100%;
    background: #3c64b1;
}

@media only screen and (max-width:768px){
    #footer ul{
        justify-content: center;
    }
    .footer-sect{
        flex-direction: column;
    }
    .footer-flex{
        flex-direction: column;
    }
    .navs{
        display: flex;
        /* flex-direction: column; */
    }
    .links{
        /* border: none; */
    }
    .copyright{
        order: 2;
        text-align: center;
        margin-top: 1rem;
        width: auto;
    }
}

@media only screen and (max-width:769px){
    .subscribe-content form{
        justify-content: flex-start;
    }
}