@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content{
    flex: 1 0 auto;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Mulish', sans-serif;
    
}

h2{
    color: #373F41;
}

li{
    list-style-type: none;
}
.btn-reg{
    background-color: #e59500;
    border-radius: 8px;
    margin-left: 1rem;
}

.btn-reg:hover{
    background-color: #171f2d;
}

header .navbar-dark .navbar-nav .btn-blue a.nav-link {
    color: #fff;
}

.nav-link{
    padding: .75rem 1.125rem;
}

.btn-blue a{
    color: #ffffff;
}


.blue-border{
    border: 1.5px solid rgba(60, 100, 177, 0.5) !important;
}
  

.btn-blue{
    color: #fff ;
    background-color: #3c64b1;
    border-radius: 8px;
}

.btn-blue:hover{
    color: #e59500;
} 

/* Hero-Section */
#hero{
    background-image: linear-gradient( rgba(43, 43, 43, 0.219), rgba(34, 33, 33, 0.116) ),url('../images/bg-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 20%;
    height: 95vh;
    display: grid;
    place-items: center normal;
}

.heading h1{
    color: #3c64b1;
    max-width: 700px;
}
.heading > .grey-text{
    max-width: 600px;
}
.home-subscribe-content{
    max-width: 600px;
    flex-direction: column;
}
.home.form-control{
    padding: 1.5rem .75rem;
}
.home-btn{
    background-color: #e59500;
    padding: .5rem 1rem;
}
.home-btn:hover{
    background-color: #b17505;
    color: #fff !important;
}


/* .carousel{
    height: auto;
}

.carousel img{
    filter: brightness(60%);
}

.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 1.5rem;
    background: transparent;
    border: 1px solid white;
}



.carousel-inner > .item{
    /*disables white flash*/
    /* -webkit-transition: -webkit-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
 } */

.carousel-indicators li.active{
    background: white;
}

.hero-content{
    display: grid;
    position: absolute;
    top: 15%;
    place-items: center;
}
.hero-content h1{
    width: 70%;
    margin: 2rem 0;
}

.underline-span{
    border-bottom: 4px solid #e59500 ;
}

.hero-content p{
    width: 70%;
}

.hero-btn{
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
}

.hero-btn li{
    width: 120px;
    margin: 0 1rem;
}

.hero-content > .container > .subscribe-content{
    flex-direction: column;
}

.hero-content > .container > .subscribe-content h3, 
.hero-content > .container > .subscribe-content form{
    width: 100%;
}

.transparent-btn-3{
    border-radius: 8px;
    border: 1px solid #fff;
    color: #fff;
}

.transparent-btn-2{
    border-radius: 8px;
    border: 1px solid #3c64b1;
    color: #3c64b1;
}

.transparent-btn{
    border-radius: 8px;
    border: 1px solid #000;
    color: #000;
}

/* About Section */
#about > .container{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats{
    width: 50%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 1.5rem;
}

.stats div{
    text-align: center;
    color: #3C64B1;
    margin: 1rem .5rem;
}


.statement{
    width: 50%;
    padding: 0 2.5rem;

    margin: 1rem 0rem;
}

.statement h2{
    color: #3C64B1;;
}

.red-btn{
    margin-top: 2.5rem;
    color: #FF8364 !important;
    font-size: 14px;
}

.grey-text{
    color: #737b7d;
}

.checked{
    color: #e59500;
}


/* Opportunities Section */

#opportunities{
    background: #fff;
}

#opportunities > .container{
    padding: 2rem 0 ;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

/* .opportunities-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.opportunities-content-body{
    width: 45%;
    align-self: center;
}

.opportunities-content-img img{
    position: absolute;
    width: 23rem;
    height: 23rem;
    top: 15px;
    right: 15px;
}

.opportunities-content-img, 
.opportunities-content-img-2{
    width: 45%;
}

.opportunities-content-img-container{
    position: relative;
    background: transparent;
    border-radius: 8px;
    width: 23rem;
    height: 23rem;
    border: 1px solid #000;

}

.opportunities-content-img-2 img{
    position: absolute;
    width: 23rem;
    height: 23rem;
    top: 15px;
    left: 15px;
} */
.scholarships{
    background-color: #f3f6fa;
}
.scholarships, .internships{
    width: 50%;
    padding: 5rem 2rem;
    text-align: center;
}

#opportunities .img{ 
    width: 130px;
}

#opportunities h2{
    margin: 1.5rem 0;
}

.img{
    margin:0 auto 2rem auto;
}

.yellow-text{
    color: #ffbf43;
}

/* Blog Section */
.blog{
    margin: 2rem 0;
}
.blog-img{
    width: 85%;
}
.blog-img img{
    width: 100%;
}
.card.flex{
    flex-direction: row;
    margin: 0 15px ;
}

.card{
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transition: all .5s ease;
    transform: scale(1.02);
}

.cover{
    object-fit: cover;
    height: auto;
}
 
.card-text{
    font-size: 16px;
}

.card-body{
    padding: 1.25rem 2.5rem;
}
.author{
    color: #000;
    font-size: 14px;
    margin-bottom: 0;
}

.topic,.date{
    text-transform: uppercase;
    font-size: 12px;
    color:#616161;
}

.topic{
    margin-bottom: 1rem;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#read-more{
    font-size: 14px;
}

#blog .row{
    margin-top: 4rem;
}

/* Testimonial Section */
#testimonial{
    background-color: #f3f6fa;
    height: 60vh;
}
.carousel-cell {
    width: 50%;
    height: 19rem;
    margin: 0 .65rem;
    background: #fff;
    border-radius: 5px;
    padding: 2rem ;
    counter-increment: gallery-cell;
}
.grey{
    color: #b5b5b5;
}
.profile{
    margin-top: 1rem;
    align-items: center;
}
.mtop{
    margin-top: 4rem;
}
  /* cell number */
  /* .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */
  


/* Subscribe Section */
#subscribe{
    background-color: #f3f6fa;
    padding: 5rem 0;
}
#subscribe > .container{
    display: flex;
}
.subscribe-content{
    margin-top: 3rem;
    align-self: center;
}
.subscribe-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-content h3{
    width: 50%;
}
.form-group{
    margin-bottom: 0;
    margin-right: .5rem;
}
.subscribe-content form{
    width: 50%;
    justify-content: flex-end;
    align-items: center;
   
}
.subscribe-content input{
    padding: 1.3rem;
}
button > a.nav-link.subscribe{
    padding: .65rem 1rem;
}
.form-group input{
    border: 1px solid #3C64B1;
    outline: none;
    border-radius: 5px;
    color: #3c64b1;
}




/* Media Queries */
@media only screen and (max-width : 768px){
.ml{
    margin-left: 0;
}

.home.form-control{
    padding: 1.25rem .75rem;
}
.home-subscribe-content{
    width: 95% ;
}
.home-btn{
    padding: .5rem;
}
.mobile-left{
    margin-left: 3rem !important;
}
.login-btns{
    flex-direction: column;
    position: absolute;
    top: 8vh;
    background-color: #f3f6fa;
    right: 0;
    color: #3c64b1;
    width: 50%;
    height: 8.5rem;
    text-align: center;
    z-index: 2;
    border-bottom: 1px solid rgb(118, 118, 118);
    transform: translateX(100%);
    transition: transform .5s ease-in;
}
.login-btns li{
    margin: .5rem 0;
}
.login-btns > .btn-reg{
    margin: 0.5rem 1rem 1.5rem 1rem;
}
.navbar-toggler{
    order: 1;
}
.navbar > .container{
    align-items: flex-start;
}
.blog-content,.collapse{
    flex-direction: column;
}
#opportunities > .container{
    flex-direction: column;
}
.small{
    font-size: 12px;
}
.content-1{
    flex-direction: column-reverse !important;
}
.opportunities-content{
    flex-direction: column;
}
.opportunities-content-img img,.opportunities-content-img-2 img{
    height: 19rem;
    width: 19rem;
}
.opportunities-content-img-container{
    margin: 0 0 3rem 1.5rem;
    height: 19rem;
    width: 19rem;
}
.opportunities-content-body{
    width: 90%;
    margin-left: 0 !important;
}
.statement, .stats{
    width: 98%;
    padding: 0 1rem;
    margin: 1.5rem 0;
}
.scholarships,.internships{
    margin: 1.5rem 0;
    width: 100%;
    padding: 2rem;
}
.about-video{
    margin: 0 1rem;
}
#about > .container{
    flex-direction: column;
    padding-top: 3rem ;
    padding-bottom: 1rem;
}
.footer-sect{
    flex-direction: column-reverse;
}
.footer-sect ul, .navbar ul{
    padding-left: .5rem;
    padding-right: .5rem;
}
.collapse{
    align-items: flex-start;
}
.register{
    margin-right: 1rem;
}
#hero, .carousel-item{
    height: 72vh;
}
#testimonial{
    height: 75vh;
}
.hero-content{
    top: 14%;
    left: 0%;
    width: 100%;
    place-items: flex-start;
}
.hero-content h1, .hero-content p{
    width: 100%;
}
.m-top{
    margin-top: .5rem;
    padding: 3rem 0 !important;
}
.carousel-item > img.w-100{
    width: auto !important;
}
.about-content{
    margin-top: 2rem;
}
.blog{
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
}
.blog-img{
    width: 60%;
}
.blog-img img{
    width: 100%;
}
.navbar-brand{
    margin-right: 0;
}

}

.register{
    width: 91px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #30015B;
    margin-left: 250px;
   
}

.register-name{
margin-bottom: -50px;
width: 77.97px;
height: 190px;
font-style: normal;
font-weight: normal;
font-size: 15px;
color: #400A71;
margin-left: 155px;
margin-bottom: -170px;
}

.input1 {
margin-left: 143px;
width: 233px;
}


/* Navbar Mobile Styling */
@media screen and (max-width : 768px){
    body{
        overflow-x: hidden;
    }
    #subscribe{
        padding:3rem 0 ;
    }
    .opportunities-heading h2{
        font-size: 1.4rem;
    }
    .stats > .container > .px-5{
        margin: 1.5rem 0;
    }
    .subscribe-content{
        flex-direction: column;
    }
    .subscribe-content h3{
        margin-bottom: 1rem;
    }
    #testimonial .carousel{
        height: 400px;
    }
    div.flickity-viewport{
        height: 390px !important;
    }
    .carousel-cell{
        width: 90%;
        height: auto;
    }
    .subscribe-content h3,.subscribe-content form{
        width: 100%;
    }
    .nav-links{
        position: absolute;
        top: 22vh;
        right: 0;
        height: 80vh;
        color: #3c64b1;
        background-color: #f3f6fa;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    #ofu-navbar .dropdown-menu.show {
        display: block !important; 
        margin-top: 0; 
        /* // remove the gap so it doesn't close */
     }
     #ofu-navbar .dropdown:hover .dropdown-menu {
        display: none;
        margin-top: 0; 
        /* // remove the gap so it doesn't close */
     }
     .dropdown-menu ul > li:after{
         top: 2em;
     }
    .mr{
        margin-right: 0;
    }
    .nav-links li{
        padding: 1rem 1rem;
    }
}
.nav-active{
    transform: translateX(0%);
}

.bright{
    color: red !important;;
}